# Detect AC plug/unplug and battery events, run laputil script
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="*", RUN+="/usr/local/bin/laputil-apply.sh"

